

/* Main > Info */
.container-info {
	display: grid;
	/* height: 600px; */
	height: auto;
	margin-top: 1em;
	gap: 2em;
	grid-template-areas:
		"sekolah-1 sekolah-1 sekolah-1 sekolah-1"
		"sekolah-2 sekolah-2 sekolah-4 sekolah-4"
		"sekolah-3 sekolah-3 sekolah-4 sekolah-4";
}

.container-info > * {
	min-height: 350px;
	padding: 2em;
	position: relative;
	display: flex;
	flex-direction: column-reverse;
	background-position: center;
	background-repeat: none;
	background-size: cover;
	border-radius: 1em;
	box-shadow: 0px -200px 30px rgba(0, 0, 0, 0.5) inset;
}

.container-info > * > h2 {
	color: white;
	font-size: 24px;
}

.sekolah-1 {
	grid-area: sekolah-1;
	background-image: url("../img/sekolah-1.png");
}

.sekolah-2 {
	grid-area: sekolah-2;
	background-image: url("../img/sekolah-2.jpg");
}

.sekolah-3 {
	grid-area: sekolah-3;
	background-image: url("../img/sekolah-3.jpg");
}

.sekolah-4 {
	grid-area: sekolah-4;
	background-image: url("../img/sekolah-4.jpg");
}

/* Main > cards */
.bantuan {
	margin: 2rem 0;
}

.cards-info {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards-info > * {
	min-height: 420px;
	padding-bottom: 1em;
	border: 1px solid #eaecf0;
}

.cards-info > * > .img-card {
	background-position: center;
	background-repeat: none;
	background-size: cover;
	min-height: 280px;
}

.cards-info > * > h2 {
	color: #101828;
	font-weight: 600;
	font-size: 24px;
}

.cards-info > * > h2,
.cards-info > * > p,
.cards-info > * > a {
	margin: 1rem;
}

.card-1 .img-card {
	background-image: url("../img/img-card-1.jpg");
}

.card-2 .img-card {
	background-image: url("../img/img-card-2.jpg");
}

.card-3 .img-card {
	background-image: url("../img/img-card-3.jpg");
}

.card-4 .img-card {
	background-image: url("../img/img-card-4.jpg");
}

.card-5 .img-card {
	background-image: url("../img/img-card-5.jpg");
}

/* Media queries */

@media only screen and (max-width: 1024px) {
	.container-info > * {
		min-height: 200px;
		padding: 1em;
	}
	.container-info > * > h2 {
		color: white;
		font-size: 1rem;
	}
	.cards-info > * > a {
		font-size: 0.7em;
	}
	.container-info {
		display: grid;
		/* height: 600px; */
		height: auto;
		margin-top: 1em;
		gap: 2em;
		grid-template-areas:
			"sekolah-1 sekolah-1 sekolah-1 sekolah-1"
			"sekolah-2 sekolah-2 sekolah-2 sekolah-2"
			"sekolah-3 sekolah-3 sekolah-3 sekolah-3"
			"sekolah-4 sekolah-4 sekolah-4 sekolah-4";
	}
	.cards-info > * > .img-card {
		min-height: 200px;
	}

	main {
		padding: 1rem;
	}
}

@media only screen and (max-width: 768px) {
	nav {
		padding: 0.5em;
		position: fixed;
		height: 100%;
		width: 200px;
		font-size: 0.7rem;
	}

	nav ul {
		gap: 0.5rem;
	}

	main {
		margin-left: 200px;
	}

	main h1 {
		font-size: 1rem;
	}
	main p {
		font-size: 0.7rem;
	}
}


