@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: 0;
  font-family: "Inter", sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.nav-link {
  @apply hover:bg-sky-400;
}


.input-email:not(:placeholder-shown) + .label-email,
.input-email:focus + .label-email {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}
.input-password:not(:placeholder-shown) + .label-password,
.input-password:focus + .label-password {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}
.input-confirm-password:not(:placeholder-shown) + .label-confirm-password,
.input-confirm-password:focus + .label-confirm-password {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}
.input-class:not(:placeholder-shown) + .label-class,
.input-class:focus + .label-class {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}
.input-nama:not(:placeholder-shown) + .label-nama,
.input-nama:focus + .label-nama {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}
.input-parent:not(:placeholder-shown) + .label-parent,
.input-parent:focus + .label-parent {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}
.input-address:not(:placeholder-shown) + .label-address,
.input-address:focus + .label-address {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}
.input-phone:not(:placeholder-shown) + .label-phone,
.input-phone:focus + .label-phone {
  display: block;
  @apply -translate-y-11;
  @apply -translate-x-4;
}

header.class-detail{
  .presensi, .kode-kelas, .total-pertemuan, .tugas, .guru, .total-tugas{
    @apply border;
    @apply border-slate-500;
    @apply shadow-md;
    @apply p-8;
    @apply rounded-md;

    h1{
      @apply text-2xl
    }
    p{
      @apply text-lg;
      @apply text-slate-500
    }
    
  }
  .tugas .list-tugas p{
    @apply text-sm;
    @apply text-sm my-2;
    @apply text-blue-500
  }
}
